apiVersion: apps/v1
kind: Deployment
metadata: 
  name: my-flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-flask-app
  template:
    metadata:
      labels:
        name: my-flask-app
    spec:
      containers:
      - name: my-flask-container
        image: 050451375189.dkr.ecr.eu-west-1.amazonaws.com/my-cloud-native-app:latest
        ports:
        - containerPort: 5001
  