apiVersion: apps/v1
kind: Service
metadata:
  name: my-flask-app
  namespace: default
spec:
  selector:
    name: my-flask-app
  ports:
    protocol: TCP
    port: 5001
    targetPort: 5001
  type: ClusterIP