name: Build and Push Docker Image to ECR

on:
  pull_request:
    branches:
      - master 

jobs:
  build:
    environment: production
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}

      - name: Build and Tag Docker Image
        run: |
          docker build -t my-cloud-native-app .
          docker tag my-cloud-native-app:latest 050451375189.dkr.ecr.eu-west-1.amazonaws.com/my-cloud-native-app:latest

      - name: Push Docker Image to ECR
        run: |
          docker push 050451375189.dkr.ecr.eu-west-1.amazonaws.com/my-cloud-native-app:latest
  deploy:
    needs: build 
    environment: production
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }} 

      - name: Apply Kubernetes Manifests
        run: |
          kubectl apply -f k8s/my-flask-deployment.yml
          kubectl apply -f k8s/my-flask-service.yml
